<!-- <ng-container [formGroup]="form">
    <mat-select class="select" formControlName="scope">
      <mat-option value="">All</mat-option>
      <mat-option value="at">Austria</mat-option>
      <mat-option value="ua">Ukraine</mat-option>
    </mat-select>
    <mat-divider [vertical]="true" class="divider"></mat-divider>
    <input
      formControlName="query"
      [ngStyle]="{ opacity: disabled ? 0.5 : 1 }"
      matInput
      [placeholder]="placeholder"
      type="text"
      name="advanced-search"
      class="input"
    />
  </ng-container> -->

  <ng-container 
     [formGroup]="parts">
    <input class=""
          matInput
          formControlName="userId"
          aria-label="Area code"
          [matAutocomplete]="auto"
          #userId>
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions" [value]="option.name.first">
        <div class="mat-options">
          <img [src]="option.picture.thumbnail" />
          <p>
            {{option.name.first}}
          </p>
        </div>
      </mat-option>
    </mat-autocomplete>
</ng-container>