.example-tel-input-container {
    display: flex;
  }
  
  .example-tel-input-element {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    font: inherit;
  }
  
  .example-tel-input-spacer {
    opacity: 0;
    transition: opacity 200ms;
  }
  
  :host.userlabel-floating .example-tel-input-spacer {
    opacity: 1;
  }

  mat-autocomplete {
    width: 100%
  }

  .mat-options {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .mat-options > p{
    text-align: center;
  }